.footer {
  background-color: #029491;
  padding: 30px 0;
  color: white;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: bold;
}

.footer-info {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-info p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 20px;
  }

  .footer-info {
    text-align: left;
  }
}